@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Raleway");
/* Colors */
/* Shadows */
/* Spacing */
/* Breakpoints */
* {
  box-sizing: border-box;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: white;
  background: #f1f2e1; }
  @media screen and (min-width: 48rem) {
    body {
      font-size: 1.4rem; } }
  @media screen and (min-width: 66rem) {
    body {
      font-size: 1.6rem; } }

h3 {
  line-height: 1.6;
  margin: 0 0 1.2rem; }

a {
  color: white;
  text-decoration: none;
  transition: all 300ms ease; }
  a:hover {
    color: rgba(255, 255, 255, 0.75); }

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column; }
  @media screen and (min-width: 66rem) {
    .container {
      flex-direction: row; } }

.display-container {
  width: 100vw;
  flex: 0 0 75vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 48rem) {
    .display-container {
      width: 100vw;
      flex: 1 1 66vh; } }
  @media screen and (min-width: 66rem) {
    .display-container {
      flex: 3 1 66vw;
      height: 100vh; } }

.card-container {
  background: transparent;
  width: 300px;
  height: 320px;
  position: relative; }
  @media screen and (min-width: 48rem) {
    .card-container {
      width: 400px;
      height: 340px; } }
  @media screen and (min-width: 66rem) {
    .card-container {
      width: 400px;
      height: 400px; } }

.card {
  border-radius: 22px;
  width: 250px;
  height: 180px;
  position: absolute;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 48rem) {
    .card {
      width: 340px;
      height: 240px; } }
  @media screen and (min-width: 66rem) {
    .card {
      width: 400px;
      height: 280px; } }

.name-card {
  color: #0f5862;
  background: #16808e;
  padding: 1.6rem;
  top: 0px;
  left: 0px; }
  @media screen and (min-width: 48rem) {
    .name-card {
      padding: 2.4rem;
      top: 50px;
      left: -50px;
      transform: rotate(-90deg);
      animation: jiggle 800ms ease 3500ms 1, getup 1000ms cubic-bezier(0.42, 0, 0.49, 1.01) 4500ms 1 forwards; } }

@keyframes jiggle {
  0% {
    transform: translateX(0) rotate(-90deg); }
  14.2857% {
    transform: translateX(-12px) rotate(-82deg); }
  28.5714% {
    transform: translateX(-24px) rotate(-98deg); }
  42.8571% {
    transform: translateX(-36px) rotate(-82deg); }
  57.1429% {
    transform: translateX(-36px) rotate(-98deg); }
  71.4286% {
    transform: translateX(-24px) rotate(-82deg); }
  85.7143% {
    transform: translateX(-12px) rotate(-98deg); }
  100% {
    transform: translateX(0) rotate(-90deg); } }
@keyframes getup {
  0% {
    transform: translateX(0) rotate(-90deg); }
  100% {
    transform: translate(25px, -100px) rotate(0deg); } }
.name-card h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.4rem;
  margin: 0 0 0.8rem;
  font-weight: 800; }
  @media screen and (min-width: 48rem) {
    .name-card h1 {
      font-size: 4.6rem; } }
  @media screen and (min-width: 66rem) {
    .name-card h1 {
      font-size: 5.2rem; } }

.name-card h1 a {
  color: #0f5862; }
  .name-card h1 a:hover {
    color: #11606b; }

.title-card {
  background: #1fc19e;
  color: #16808e;
  padding: 2.4rem;
  top: 150px;
  left: 50px;
  box-shadow: -8px 3px 17px 0 rgba(0, 0, 0, 0.2), -6px 2px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (min-width: 48rem) {
    .title-card {
      top: 50px;
      left: 30px;
      padding: 2.4rem 4.2rem;
      box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2);
      animation: moveoff 500ms cubic-bezier(0.51, 1.48, 0.76, 0.98) 3800ms 1 forwards; } }
  @media screen and (min-width: 66rem) {
    .title-card {
      top: 60px;
      left: 50px;
      padding: 4.2rem; } }

@keyframes moveoff {
  100% {
    transform: translate(50px, 100px);
    box-shadow: -8px 3px 17px 0 rgba(0, 0, 0, 0.2), -6px 2px 20px 0 rgba(0, 0, 0, 0.19); } }
#copyright {
  bottom: 30px;
  position: absolute;
  color: #19a899;
  opacity: 0; }
  @media screen and (min-width: 48rem) {
    #copyright {
      opacity: 1; } }

.title-card h1 {
  font-weight: 300;
  font-size: 3.2rem;
  margin: 0 0 1.2rem;
  color: white; }
  @media screen and (min-width: 48rem) {
    .title-card h1 {
      font-size: 4.0rem; } }
  @media screen and (min-width: 66rem) {
    .title-card h1 {
      font-size: 5.4rem; } }

.title-card p {
  line-height: 1.6rem; }
  @media screen and (min-width: 48rem) {
    .title-card p {
      line-height: 2.4rem; } }

.bg-item {
  position: absolute;
  height: 4rem;
  transform: rotate(-30deg);
  border-radius: 2.6rem; }
  @media screen and (min-width: 48rem) {
    .bg-item {
      height: 4.6rem; } }
  @media screen and (min-width: 66rem) {
    .bg-item {
      height: 5.2rem; } }

.bg-item:nth-child(3n+1) {
  width: 100px; }

.bg-item:nth-child(3n+2) {
  width: 200px; }

.bg-item:nth-child(3n+3) {
  width: 300px; }

.bg-item:nth-child(9n+1),
.bg-item:nth-child(9n+2),
.bg-item:nth-child(9n+3) {
  background-color: #16808e;
  box-shadow: inset 2.4rem 0 0 0 #11606b, -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2); }

.bg-item:nth-child(9n+4),
.bg-item:nth-child(9n+5),
.bg-item:nth-child(9n+6) {
  background-color: #19a899;
  box-shadow: inset 2.4rem 0 0 0 #148479, -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2); }

.bg-item:nth-child(9n+7),
.bg-item:nth-child(9n+8),
.bg-item:nth-child(9n+9) {
  background-color: #ef5373;
  box-shadow: inset 2.4rem 0 0 0 #ec2e55, -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2); }

.bg-item:nth-child(odd) {
  animation-name: travellong; }

.bg-item:nth-child(even) {
  animation-name: travelshort; }

.bg-item-1 {
  animation-duration: 10400ms;
  animation-timing-function: linear;
  animation-delay: 5800ms;
  animation-iteration-count: infinite; }

.bg-item-2 {
  animation-duration: 10800ms;
  animation-timing-function: linear;
  animation-delay: 6100ms;
  animation-iteration-count: infinite; }

.bg-item-3 {
  animation-duration: 11200ms;
  animation-timing-function: linear;
  animation-delay: 6400ms;
  animation-iteration-count: infinite; }

.bg-item-4 {
  animation-duration: 11600ms;
  animation-timing-function: linear;
  animation-delay: 6700ms;
  animation-iteration-count: infinite; }

.bg-item-5 {
  animation-duration: 12000ms;
  animation-timing-function: linear;
  animation-delay: 7000ms;
  animation-iteration-count: infinite; }

.bg-item-6 {
  animation-duration: 12400ms;
  animation-timing-function: linear;
  animation-delay: 7300ms;
  animation-iteration-count: infinite; }

.bg-item-7 {
  animation-duration: 12800ms;
  animation-timing-function: linear;
  animation-delay: 7600ms;
  animation-iteration-count: infinite; }

.bg-item-8 {
  animation-duration: 13200ms;
  animation-timing-function: linear;
  animation-delay: 7900ms;
  animation-iteration-count: infinite; }

.bg-item-9 {
  animation-duration: 13600ms;
  animation-timing-function: linear;
  animation-delay: 8200ms;
  animation-iteration-count: infinite; }

.bg-item-10 {
  animation-duration: 8000ms;
  animation-timing-function: linear;
  animation-delay: 5500ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-11 {
  animation-duration: 8400ms;
  animation-timing-function: linear;
  animation-delay: 5800ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-12 {
  animation-duration: 8800ms;
  animation-timing-function: linear;
  animation-delay: 6100ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-13 {
  animation-duration: 9200ms;
  animation-timing-function: linear;
  animation-delay: 6400ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-14 {
  animation-duration: 9600ms;
  animation-timing-function: linear;
  animation-delay: 6700ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-15 {
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-delay: 7000ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-16 {
  animation-duration: 10400ms;
  animation-timing-function: linear;
  animation-delay: 7300ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-17 {
  animation-duration: 10800ms;
  animation-timing-function: linear;
  animation-delay: 7600ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

.bg-item-18 {
  animation-duration: 11200ms;
  animation-timing-function: linear;
  animation-delay: 7900ms;
  animation-iteration-count: infinite;
  animation-direction: reverse; }

@keyframes travellong {
  0% {
    transform: translate(0, 0) rotate(-30deg); }
  25% {
    transform: translate(-60px, 40px) rotate(-30deg); }
  50% {
    transform: translate(0, 0) rotate(-30deg); }
  75% {
    transform: translate(60px, -40px) rotate(-30deg); }
  100% {
    transform: translate(0, 0) rotate(-30deg); } }
@keyframes travelshort {
  0% {
    transform: translate(0, 0) rotate(-30deg); }
  25% {
    transform: translate(-30px, 20px) rotate(-30deg); }
  50% {
    transform: translate(0, 0) rotate(-30deg); }
  75% {
    transform: translate(30px, -20px) rotate(-30deg); }
  100% {
    transform: translate(0, 0) rotate(-30deg); } }
.bg-item-1 {
  top: -70px;
  right: -80px; }

.bg-item-2 {
  top: -20;
  left: -150px; }

.bg-item-3 {
  top: 350px;
  left: -40px; }

.bg-item-4 {
  top: 420px;
  left: 80px; }

.bg-item-5 {
  top: 120px;
  left: 360px; }

.bg-item-6 {
  top: 220px;
  left: -160px; }

.bg-item-7 {
  top: 480px;
  left: 370px; }

.bg-item-8 {
  bottom: 100px;
  right: -150px; }

.bg-item-9 {
  top: -120px;
  right: 50px; }

.bg-item-10 {
  top: 380px;
  left: -80px; }

.bg-item-11 {
  top: -50px;
  right: -180px; }

.bg-item-12 {
  bottom: 30px;
  right: -220px; }

.bg-item-13 {
  top: 140px;
  left: -100px; }

.bg-item-14 {
  top: 260px;
  left: 10px; }

.bg-item-15 {
  top: 70px;
  right: -80px; }

.bg-item-16 {
  top: 440px;
  left: 260px; }

.bg-item-17 {
  top: -130px;
  left: -30px; }

.bg-item-18 {
  top: -90px;
  left: -80px; }

.links-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 0 0 25vh; }
  @media screen and (min-width: 48rem) {
    .links-container {
      width: 100vw;
      flex: 1 1 33vh;
      overflow: scroll; } }
  @media screen and (min-width: 66rem) {
    .links-container {
      flex: 1 1 34vw;
      height: 100vh; } }

.link {
  font-size: 1.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  margin: .2rem;
  background: #19a899;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.14), -0.5px 1px 5px 0 rgba(0, 0, 0, 0.12), -2px 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-out 100ms;
  transform: translateX(11%); }
  @media screen and (min-width: 48rem) {
    .link {
      font-size: 1.8rem;
      padding: 2.4rem 4.2rem; } }
  .link:visited {
    color: #bae5e0; }
  .link:hover {
    transform: translateX(10%) scale(1.1);
    background: #1fc19e;
    box-shadow: -8px 3px 17px 0 rgba(0, 0, 0, 0.2), -6px 2px 20px 0 rgba(0, 0, 0, 0.19); }

@media screen and (min-width: 48rem) {
  .link-1 {
    animation: wave 2s ease 1;
    animation-delay: 0.8s; }

  .link-2 {
    animation: wave 2s ease 1;
    animation-delay: 0.9s; }

  .link-3 {
    animation: wave 2s ease 1;
    animation-delay: 1s; }

  .link-4 {
    animation: wave 2s ease 1;
    animation-delay: 1.1s; }

  .link-5 {
    animation: wave 2s ease 1;
    animation-delay: 1.2s; }

  .link-6 {
    animation: wave 2s ease 1;
    animation-delay: 1.3s; }

  .link-7 {
    animation: wave 2s ease 1;
    animation-delay: 1.4s; }

  .link-8 {
    animation: wave 2s ease 1;
    animation-delay: 1.5s; }

  .link-9 {
    animation: wave 2s ease 1;
    animation-delay: 1.6s; }

  .link-10 {
    animation: wave 2s ease 1;
    animation-delay: 1.7s; }

  .link-11 {
    animation: wave 2s ease 1;
    animation-delay: 1.8s; }

  .link-12 {
    animation: wave 2s ease 1;
    animation-delay: 1.9s; }

  .link-13 {
    animation: wave 2s ease 1;
    animation-delay: 2s; }

  .link-14 {
    animation: wave 2s ease 1;
    animation-delay: 2.1s; }

  .link-15 {
    animation: wave 2s ease 1;
    animation-delay: 2.2s; }

  .link-16 {
    animation: wave 2s ease 1;
    animation-delay: 2.3s; }

  .link-17 {
    animation: wave 2s ease 1;
    animation-delay: 2.4s; }

  .link-18 {
    animation: wave 2s ease 1;
    animation-delay: 2.5s; }

  .link-19 {
    animation: wave 2s ease 1;
    animation-delay: 2.6s; }

  .link-20 {
    animation: wave 2s ease 1;
    animation-delay: 2.7s; }

  .link-21 {
    animation: wave 2s ease 1;
    animation-delay: 2.8s; }

  .link-22 {
    animation: wave 2s ease 1;
    animation-delay: 2.9s; }

  .link-23 {
    animation: wave 2s ease 1;
    animation-delay: 3s; }

  .link-24 {
    animation: wave 2s ease 1;
    animation-delay: 3.1s; }

  .link-25 {
    animation: wave 2s ease 1;
    animation-delay: 3.2s; }

  .link-26 {
    animation: wave 2s ease 1;
    animation-delay: 3.3s; }

  .link-27 {
    animation: wave 2s ease 1;
    animation-delay: 3.4s; }

  .link-28 {
    animation: wave 2s ease 1;
    animation-delay: 3.5s; }

  .link-29 {
    animation: wave 2s ease 1;
    animation-delay: 3.6s; }

  .link-30 {
    animation: wave 2s ease 1;
    animation-delay: 3.7s; } }
@keyframes wave {
  0% {
    transform: translateX(11%); }
  40% {
    transform: translateX(11.1%) scale(1.03);
    background: #1fc19e;
    box-shadow: -8px 3px 17px 0 rgba(0, 0, 0, 0.2), -6px 2px 20px 0 rgba(0, 0, 0, 0.19); }
  100% {
    transform: translateX(11%); } }

/*# sourceMappingURL=styles.css.map */
