@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway');

/* RGB */
$color1: rgba(26, 108, 140, 1);
$color2: rgba(22, 128, 142, 1);
$color3: rgba(25, 168, 153, 1);
$color4: rgba(31, 193, 158, 1);
$color5: rgba(241, 242, 225, 1);

// Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Shadows
$shadow-low: -1px 2px 2px 0 rgba(0,0,0,0.14),
  -0.5px 1px 5px 0 rgba(0,0,0,0.12),
  -2px 3px 1px -2px rgba(0,0,0,0.2);
$shadow-high: -8px 3px 17px 0 rgba(0,0,0,0.2),
    -6px 2px 20px 0 rgba(0,0,0,0.19);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4.2rem;

// Breakpoints
$tablet-breakpoint: 45rem; //720
$desktop-breakpoint: 60rem; //960

* {
  box-sizing: border-box;
  margin: 0;
  // border: $color4 solid 1px; // I'M RIGHT HERE!!!
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
	font-size: $m-size;
  color:  white;
  background: $color5;
}
h1 {
  font-size: 5.2rem;
  margin: 0 0 $s-size;
}
h3 {
  line-height: 1.6;
  margin: 0 0 $s-size;
}
a {
  color: white;
  text-decoration: none;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}
.display-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $desktop-breakpoint) {
    width: 60vw;
    height: 100vh;
  }
}
.card-container {
  background: transparent;
  width: 360px;
  height: 360px;
  position: relative;
  @media (min-width: $desktop-breakpoint) {
    width: 400px;
    height: 400px;
  }
}
.card {
  // padding: 30px; // move to individual cards, use defined sizes & media queries
  border-radius: 22px;
  width: 360px;
  height: 270px;
  position: absolute;
  box-shadow: $shadow-low;
  @media (min-width: $desktop-breakpoint) {
    width: 400px;
    height: 300px;
  }
}
.name-card {
  color: darken($color2, 8%);
  background: $color2;
  padding: $l-size;
  transform: rotate(-90deg);
  top: 50px;
  left: -50px;
  transition: transform 1200ms cubic-bezier(0.34, 0.99, 0.64, 1.05) 200ms;
  animation: jiggle 800ms ease 2500ms 1;
}
.name-card h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.card-container:hover .name-card {
  transform: translate(25px, -100px) rotate(0deg);
}
.title-card {
  background: $color4;
  color: $color2;
  padding: $xl-size;
  top: 60px;
  left: 50px;
  transition: all 600ms cubic-bezier(0.34, 0.99, 0.64, 1.05) 100ms;
}
.title-card h1 {
  font-weight: 300;
  color: white;
}
.card-container:hover .title-card {
  transform: translate(50px, 100px);
  box-shadow: $shadow-high;
}
.links-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  overflow: scroll;
  @media (min-width: $desktop-breakpoint) {
    width: 40vw;
    height: 100vh;
  }
}
.link {
  font-size: 1.8rem;
  padding: $m-size $l-size;
  border-radius: 8px;
  margin: .2rem;
  background: $color3;
  box-shadow: $shadow-low;
  transition: all 300ms ease-out 100ms;
  // transform: translateX($xl-size);
  transform: translateX(11%);
  @media (min-width: $desktop-breakpoint) {
    padding: $l-size $xl-size;
  }
}
.link:hover {
  // transform: translateX($l-size) scale(1.1);
  transform: translateX(10%) scale(1.1);
  background: $color4;
  box-shadow: $shadow-high;
}

@for $i from 1 through 30 {
  .link-#{$i} {
    animation: wave 2s ease 1;
    animation-delay: .1s * $i;
  }
}

@keyframes wave{
  0% {
    transform: translateX(11%);
  }
  40% {
    transform: translateX(11.1%) scale(1.03);
    background: $color4;
    box-shadow: $shadow-high;
  }
  100% {
    transform: translateX(11%);
  }
}

@keyframes jiggle {
  0% {
    transform: translateX(0) rotate(-90deg);
  }
  14.2857% {
    transform: translateX(-12px) rotate(-82deg);
  }
  28.5714% {
    transform: translateX(-24px) rotate(-98deg);
  }
  42.8571% {
    transform: translateX(-36px) rotate(-82deg);
  }
  57.1429% {
    transform: translateX(-36px) rotate(-98deg);
  }
  71.4286% {
    transform: translateX(-24px) rotate(-82deg);
  }
  85.7143% {
    transform: translateX(-12px) rotate(-98deg);
  }
  100% {
    transform: translateX(0) rotate(-90deg);
  }
}